$font-stack: "Poppins", sans-serif;
$midnight-green: #1a535c;
$turquoise: #4ecdc4;
$mint-cream: #f7fff7;
$tomatored: #ff6b6b;
$yellow: #ffe66d;
$first: #01384d;
$second: #ffef76;
$buttonC: #91d4ef;
$white: #fff;
$font-large: 2.125rem;
$font-med: 1.125rem;
$font-sm: 0.875rem;
