$theme-colors: (
  "warning": #ffe66d,
  "success": #25d366,
  "teal1": teal,
  "first": #01384d,
  "second": #ffef76,
  "buttonC": #91d4ef,
);
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
