.containerHeader {
  background-color: $white;
  background-image: linear-gradient(180deg, $white 80%, $second 100%);
  color: $first;
}

.headerTitle {
  font-size: 3.125rem;
  font-weight: 600;
}

.headerSubTitle {
  font-size: 2.125rem;
  font-weight: 400;
}

.SignupHero {
  background-color: $white;
  color: $first;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  Button {
    background-color: $first;

    border: none;
    &:hover {
      color: $first;
      background-color: $buttonC;
    }
  }
}

.alert-text-form {
  color: #df4759;
}

.MidSecHero {
  background-color: $first;
  color: $first;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* footer  */
#footerSec {
  background-color: $first;
  padding: 1rem;
  text-align: center;
}
.footerWrapper {
  color: $white;
  h4 {
    font-size: 1.1rem;
    font-weight: 400;
  }
  h6 {
    font-weight: 300;
  }
}
.socialMed_cont {
  display: flex;

  justify-content: center;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.socialMed_cont a {
  color: white;
  text-decoration: none;
  transform: scale(1);
}
.socialMed_cont a:hover {
  color: $second;
  transform: scale(1.2);
}
