// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .containerHeader {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
  }
  .headerTitle {
    justify-content: center;
    text-align: center;
  }
  .headerSubTitle {
    justify-content: center;
  }
  .homeButtonCont {
    justify-content: center;
  }
  .signInBtn {
    color: #ffef76 !important;
    border: none;
    border: radius 0;
    padding: 0;
    &:hover {
      color: #ffef76 !important;
      background-color: $first;
    }
  }
  .navbar-nav {
    text-align: center;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .containerHeader {
    padding-top: 50px;
    min-height: 68vh;
    background-color: $white;
    background-image: linear-gradient(150deg, $white 100%, $second 100%);
  }
  .imageCol {
    display: none;
  }
  .headerTitle {
    justify-content: center;
    text-align: center;
  }
  .headerSubTitle {
    justify-content: center;
  }
  .homeButtonCont {
    justify-content: center;
  }
  .MidSecHero {
    color: $second;
    .midsecCont {
      background-color: $first !important;
    }
    span {
      border-color: $second !important;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// @media (max-width: 576px) {
// }

// @media (max-width: 900px) {
// }

// // Medium devices (tablets, 768px and up)
// @media (max-width: 767px) {
//   .containerHeader {
//     background-color: $mint-cream;
//     min-height: 72vh;
//   }
//   .imageCol {
//     display: none;
//   }
//   .titleHome {
//     display: flex;
//     justify-content: center;
//     text-align: center;
//   }
//   .homeButtonCont {
//     justify-content: center;
//   }
//   .headerSubTitle {
//     justify-content: center;
//   }
// }

// .containerHeader {
//   background-color: $mint-cream;
//   min-height: 72vh;
// }
// .imageCol {
//   display: none;
// }
// .titleHome {
//   display: flex;
//   justify-content: center;
//   text-align: center;
// }
// .homeButtonCont {
//   justify-content: center;
// }
// .headerSubTitle {
//   justify-content: center;
// }
