@import "./config";
@import "globals";
.error {
  position: relative;
  animation: shake 0.1s linear;
  animation-iteration-count: 3;
}
@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}

.linkc {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
////////////////////////
@import "./navibar";
@import "./home";
@import "uploadPage";
@import "qr";
@import "./mobile";
@import "custom";
